@import "./colors.scss";

.show_btn {
  padding: 1.3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.show_primary_btn {
  background: $redColor !important;
  color: $whiteColor !important;
  font-size: 13px;
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    background: #8b1f2c !important;
    color: #fff !important;
  }
}

.show_secondary_btn {
  background: transparent;
  color: $redColor;
  border: 2px solid $redColor;
  font-weight: 600;
  &:hover,
  &:focus,
  &:active {
    background: #8b1f2c !important;
    color: #fff !important;
    border: 2px solid #8b1f2c;
  }
}

.show_link_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.1rem;
}

.show_red_btn {
  color: $redColor;
}
.show_black_btn {
  color: $blackColor;
}

.show_12_btn {
  font-size: 12px;
}

.show_link_btn_primary {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  font-size: 13px;
  font-weight: 600;
  &:hover,
  &:focus,
  &:active {
    color: $redColor !important;
  }
}

.show_auth_btn_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .show_auth_btn {
    width: 100% !important;
  }
}

.capitalize_btn {
  text-transform: uppercase;
}

.action--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
