.ant-card-actions {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-left: 1rem !important;
  border-top: 1.5px solid $lightWhiteColor !important;
}

.ant-card-meta-title {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: calc(14px * 1.618) !important;
  color: $blackColor !important;
  white-space: normal !important;
  //   text-overflow: ellipsis !important;
}

.ant-card-meta-description {
  color: $greyTwoColor !important;
  font-size: 12px !important;
  line-height: calc(12px * 1.618) !important;
}

.show_number_card {
  padding: 16px 16px;
  background: $whiteColor;
  margin-bottom: 32px;
  border: 1px solid #f5f8fa;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 4%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
