.show_event_drawer {
  margin-top: 13vh !important;
  border: none !important;
  padding: 0 !important;
}

.ant-drawer-body {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px !important;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: none !important;
}
