@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables";
@import "./colors.scss";
@import "./buttons.scss";
@import "./typography.scss";
@import "./pages.scss";
@import "./paddings.scss";
@import "./margins.scss";
@import "./inputs.scss";
@import "./progressbar.scss";
@import "./cards.scss";
@import "./drawer.scss";
@import "./modals.scss";
@import "./tables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $blackColor;
  letter-spacing: 0.3px;
  font-size: 12px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
ul,
ol,
dl,
dir,
menu,
blockquote,
dd,
fieldset {
  padding: 0;
  margin: 0;
}

.show_container {
  height: 100vh;
}

.show_content {
  position: relative;
  .show_sticky_header {
    background-color: $whiteColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

  .show_content_container {
    min-width: 100%;
    min-height: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.nav_icon {
  padding: 8px 0;
  color: #8e98ab;
  font-size: 2.2rem !important;
  &:hover {
    animation-name: navIcon;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
}

.show_flex {
  display: flex;

  align-items: center;
  column-gap: 1rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: $greyTwoColor;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfc8c8;
}

@keyframes navIcon {
  100% {
    color: #c12b3d;
    transform: scale(1.5);
  }
}
