@import "./colors.scss";

.ant-input {
  outline: 0 !important;
  height: 100% !important;
  border: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  border-radius: 0 !important;
}

.ant-input-affix-wrapper.ant-input-password {
  display: flex;
  margin-left: 0 !important;
  padding-left: 0 !important;
  height: auto !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 42px !important;
}

.ant-input-affix-wrapper.ant-input-password:hover,
.ant-input-affix-wrapper.ant-input-password:active,
.ant-input-affix-wrapper.ant-input-password:focus {
  border: none !important;
  outline: 0 !important;
  box-shadow: 0 !important;
}

.ant-input::placeholder {
  font-size: 0.7125rem !important;
  color: $greyTwoColor !important;
}

.ant-input:focus,
.ant-input:active,
.ant-input:hover {
  // border: 1px solid $blueColor1 !important;
  outline: 0 !important;
  box-shadow: none !important;
  // border: none !important;
}

.ant-form-item-label > label.ant-form-item-required:before {
  content: unset !important;
}

label {
  font-size: 10px !important;
  color: #000000 !important;
  margin-bottom: 6px !important;
  font-weight: 600 !important;
}

.ant-form-item-required {
  color: #6a6a6a !important;
}

.show_input {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid $greyTwoColor !important;
  display: flex !important;
  justify-content: space-between !important;
  &:focus {
    border-bottom: 2px solid $redColor !important;
  }
}

.ant-select-selector,
.ant-select-open .ant-select-selector {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  font-size: 0.7125rem !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}

.ant-input-password-icon {
  color: $greyTwoColor !important;
  font-weight: 900 !important;
}

.ant-input-wrapper {
  height: 100% !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}
.ant-input-group {
  background: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}
.ant-btn.ant-btn-icon-only.ant-input-search-button {
  background: transparent !important;
  height: 90% !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

.ant-input-wrapper.ant-input-group input,
.ant-input-wrapper.ant-input-group .ant-input-group-addon {
  background: none;
}

.ant-input-wrapper.ant-input-group input {
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

.ant-input-wrapper.ant-input-group .ant-input-group-addon {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ant-input-wrapper.ant-input-group:focus,
.ant-input-wrapper.ant-input-group:active,
.ant-input-wrapper.ant-input-group:hover {
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $redColor !important;
  outline: none !important;
  border: none !important;
}
