// 1

.show_margin_1 {
  margin: 1rem;
}

.show_margin_bottom_1 {
  margin-bottom: 1rem;
}

// 2
.show_margin_bottom_2 {
  margin-bottom: 2rem;
}

.show_margin_2_top {
  margin-top: 2rem;
}

// 3

.show_margin_bottom_3 {
  margin-bottom: 3rem;
}

.show_margin_3_top {
  margin-top: 3rem;
}

// 32

.show_mb_32 {
  margin-bottom: 32px;
}

// 64

.show_mb_64 {
  margin-bottom: 64px;
}
