@import "./colors.scss";

.ant-modal-content {
  min-height: 700px;
  border-radius: 0 !important;
  z-index: 10 !important;
  .ant-modal-body {
    padding: 0 !important;
    margin: 0 !important;
  }
}
.show_modal {
  min-height: 700px;
}

.show_modal_header {
  min-height: 10%;
  border-bottom: 1px solid #e9ecef;
  .header_content {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.show_modal_body {
  min-height: 80%;
  .body_content {
    padding: 32px;
    .top {
      display: flex;
      justify-content: space-between;
      .image_upload {
        background: $lightWhiteColor;
        width: 46%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .top_form {
        width: 46%;
      }
    }
  }
}

.show_modal_footer {
  padding: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  border-top: 1px solid #e9ecef;
}

.show_modal_footer {
  height: 10%;
}
