// 1

.show_p_1 {
  padding: 1rem;
}

.show_pt_1 {
  padding-top: 1rem;
}

.show_pb_1 {
  padding-bottom: 1rem;
}

// 2

.show_p_2 {
  padding: 2rem;
}

.show_pt_2 {
  padding-top: 2rem;
}

.show_pb_2 {
  padding-bottom: 2rem;
}
