@import "./colors.scss";
@import "./variables";

.show_auth_page {
  height: 100vh;
  width: 100vw;
  position: relative;
  .auth_page_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $whiteColor;
    .auth_page_container {
      width: 22.5%;
      height: auto;
      border-radius: 0px;
      margin-bottom: 32px;
      transition: 0.4s ease-out;
      background: $whiteColor;
      padding: 32px;
      box-shadow: 0px -3px 40px 0px rgb(0 0 0 / 4%);
      position: relative;
      z-index: 2;
      &:hover {
        box-shadow: 0px 30px 40px 0px rgb(0 0 0 / 6%);
        transform: scale(1.01);
        transition: 0.4s ease-out;
      }
      .show_auth_loading {
        background: $lightRedColor;
        min-height: 3px;
        min-width: 60%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .show_icon {
        width: 36px;
        height: 36px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .swow_auth_link {
      color: $redColor;
      font-weight: 500;
    }
  }

  .auth_page_cliped {
    background: $lightWhiteColor;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    position: absolute;
    top: 0;
    z-index: 1;
  }
}

@media (max-width: $breakpoint-small) {
  .show_auth_page {
    .auth_page_content {
      .auth_page_container {
        width: 95%;
      }
    }
  }
}
