@import "./colors.scss";

.show_stats_progress {
  background: $whiteColor;
  min-height: 26rem;
  width: 100%;
  box-shadow: 0px -3px 40px 0px rgb(0 0 0 / 4%);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  .show_progress {
    width: 100%;
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.ant-progress-inner {
  background: $lightWhiteColor !important;
  padding: 0.3px 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  .ant-progress-bg {
    background: $redColor !important;
    border-radius: 0 !important;
  }
}
