@import "./colors.scss";

.ant-table-thead > tr > th {
  text-transform: uppercase !important;
  font-weight: 800 !important;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  font-size: 12px !important;
}
.ant-table-thead > tr > th {
  background: transparent !important;
  border: none !important;
}

.ant-table-thead > tr > th::before {
  display: none !important;
}

.ant-table-tbody > tr > td {
  border-bottom: 0 !important;
}

.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row),
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) {
  background: $whiteColor !important;
  box-shadow: rgba(235, 235, 236, 0.1) 0px 10px 10px -10px;
  cursor: pointer;
  animation-name: tableHover !important;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

@keyframes tableHover {
  100% {
    transform: scale(1);
  }
}
