@import "./colors.scss";

// COLORS
.show_red_text {
  color: $redColor;
}

.show_grey_text {
  color: $greyTwoColor;
}

.show_white_text {
  color: $whiteColor;
}

.show_black_text {
  color: $blackColor;
}

.show_mute_text {
  color: $greyTwoColor;
}

// SIZES
.show_extra_big_text {
  font-size: 48px;
  font-weight: 600;
  line-height: calc(48px * 1.618);
}
.show_big_text {
  font-size: 24px;
  line-height: calc(24px * 1.618);
}

.show_medium_text {
  font-size: 13px;
}

.show_small_text {
  font-size: 0.625rem;
  line-height: calc(10px);
  font-weight: 400;
}

.show_extra_small_text {
  font-size: 0.5rem;
  line-height: calc(10px);
  font-weight: 400;
}

.show_text_18 {
  font-size: 18px;
}

//CURSOR
.show_cursored {
  cursor: pointer;
}

// weights
.show_600_weight {
  font-weight: 600;
}

//cases
.show_uppercased_text {
  text-transform: uppercase;
}

.show_underlined_text {
  text-decoration: underline;
}
