@import "../../styles/colors.scss";

.show_banner {
  background: $darkColor;
  min-height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .show_banner_left,
  .show_banner_right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show_banner_left {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .show_banner_right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
