@import "../../styles/colors.scss";

.show_dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  &_app_container {
    width: 91.7vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    .show_header {
      height: 14.5vh;
    }

    .show_dashboard_body {
      display: flex;
      justify-content: space-between;
      height: 87vh;
      width: 100%;
      .show_dashboard_pages {
        width: 73%;
        overflow: auto;
        background: $lightWhiteColor;
        padding-bottom: 2rem;
      }
    }
  }
}
