@import "../../styles/colors.scss";

.show_event_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .show_event_drawer_left,
  .show_event_drawer_right {
    height: 87vh;
  }
  .show_event_drawer_left {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    overflow: auto;
  }
  .show_event_drawer_left {
    background: $lightWhiteColor;
    width: 42%;
    img {
      width: 100%;
      height: 56%;
      object-fit: cover;
    }
    .show_event_details_wrapper {
      .show_event_details {
        display: flex !important;
        justify-content: space-between !important;
        a {
          color: $redColor;
          text-decoration: underline;
        }
      }
    }
    .show_event_guest_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .show_event_guest {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        .guest_profile {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 1rem;
          .profile_pic {
            font-size: 2.1rem;
          }
        }
      }
      .show_event_guest_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        .show_event_guest_icon {
          font-size: 18px;
        }
      }
    }
  }
  .show_event_drawer_right {
    background: $whiteColor;
    width: 58%;
    position: relative;

    .show_event_header,
    .show_event_body {
      background: $whiteColor;
    }
    .show_event_header {
      height: 10vh;
      border-bottom: 1px solid #e8e5ff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2rem !important;
      padding-left: 2rem !important;
      .show_event_header_menu {
        line-height: 41px;
      }
    }
    .show_event_body {
      overflow: auto;
      height: 77vh;
      .show_metrics {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
      }
      .show_attendence {
        padding-bottom: 2rem !important;
        height: 100%;
        &_header,
        &_body {
          padding-right: 2rem !important;
          padding-left: 2rem !important;
        }
        &_header {
          border-bottom: 1px solid #e8e5ff;
          min-height: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &_body {
          height: 85%;
          overflow: auto;
        }
      }
    }
  }
}
