@import "../../styles/colors.scss";

.show_navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e5ff;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  .show_navbar_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    color: $greyTwoColor;
    .profile_info {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
      .profile_icon {
        font-size: 2.3rem;
      }
    }
  }
}
