@import "../../styles/variables";
@import "../../styles/colors.scss";

.show_stats {
  background: $whiteColor;
  flex-basis: 27%;
  overflow: auto;
  padding-bottom: 2rem;

  .header {
    background: $whiteColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 16px;
  }

  .show_update_prem {
    background: $darkColor;
    min-height: 7rem;
    width: 100%;
    box-shadow: 0px -3px 40px 0px rgb(0 0 0 / 4%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
