@import "../../styles/colors.scss";

.notifications_drawer {
  height: 100vh;
}

.notifications {
  height: 100%;
  .notifications_header,
  .notifications_subheader {
    padding: 0 2rem;
  }
  .notifications_header {
    background: $redColor;
    min-height: 12.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .notifications_subheader {
    background: #8b1f2c;
    min-height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .notifications_body {
    height: 78.1%;
    overflow: auto;
    .notification {
      padding: 2rem;
      cursor: pointer;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 1.5rem;
      &:hover {
        background: $lightWhiteColor;
      }
      .profile_pic_container {
        .profile_pic {
          font-size: 48px;
        }
      }

      &_details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 1rem;
      }
    }
  }
}
