@import "../../styles/colors.scss";

.show_sidebar {
  background: $whiteColor;
  flex-basis: 8.3vw;
  overflow: auto;
  border-right: 1px solid #e8e5ff;
  position: relative;
  .show_side_top {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    height: 14.5vh;
    background: $whiteColor;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    .show_side_top_content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .show_menus {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .show_menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 0.8rem 1rem;
      color: $greyOneColor;
      .menu_title {
        font-size: 10px;
        line-height: calc(10px * 1.618);
      }
      .icon {
        font-weight: normal;
        font-style: normal;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        margin-bottom: 0.5rem;
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &:hover {
        color: $redColor;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
      }
    }
  }
  .active {
    .icon {
      color: $redColor;
    }
  }

  .show_side_bottom {
    background: $whiteColor;
    border-right: 1px solid #e8e5ff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.3vw;
    position: fixed;
    bottom: 0;
    left: 0;
    .logout_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      .icon {
        font-weight: normal;
        font-style: normal;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 10px;
        line-height: calc(10px * 1.618);
      }
    }
  }
}
